EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyC99J-9D_bEEWO8P0CQtwYlxYCDNXLbKP0
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=mamuyenativeapp.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=mamuyenativeapp
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=mamuyenativeapp.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=750425842477
EXPO_PUBLIC_FIREBASE_APP_ID=1:750425842477:web:c680b9d5f2144baf21e9a4
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-4W87M5CZWW
